pandas
numpy
matplotlib
seaborn
scikit-learn
plotly
prophet
requests
jupyter
notebook
pyodbc
jinja2
mysql-connector-python
pymongo
cx_Oracle
xarray
sqlalchemy
flask
pyaudio
vosk
soundfile
pyttsx3
mkdocs
mkdocs-material
mkdocs-include-markdown-plugin
mkdocs-jupyter
mkdocs-minify-plugin
mkdocs-awesome-pages-plugin
mkdocs-mermaid2-plugin
mkdocs-material-extensions
